@import '../../variaveis scss/variaveis.scss';

.logo {
    height: 120px;
}

.navbar-lirio {
    background: rgb(77,77,77);
    background: linear-gradient(90deg, rgb(180, 180, 180) 0%, rgb(138, 138, 138) 51%, rgb(77, 77, 77) 100%);
}