@import '../../variaveis scss/variaveis.scss';

.secao-acupuntura {

    h1 {
        text-align: $centro;
        margin-bottom: $margins;
        margin-top: $margins;
        color: $preto;
        font-weight: $negrito;
        text-transform: $maiusculo;
        text-shadow: 2px 2px $amarelo_claro;
    }

    h5 {
        text-align: $centro;
        margin-bottom: $margins;
        margin-top: $margins;
        color: $preto;
        font-weight: $negrito;
        text-transform: $maiusculo;
        text-shadow: 2px 2px $amarelo_claro;
    }

    img {
        border-radius: $border-radius;
    }

}

.cone-chines {
    background: rgb(110,110,110);
    background: linear-gradient(177deg, rgba(110,110,110,1) 0%, rgba(88,88,88,1) 51%, rgba(32,32,32,1) 100%);

    h1 {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 2px 2px #ffd900;
    }

    h5 {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 2px 2px #ffd900;
    }

    img {
        border-radius: 20px;
    }
}

.caixa {
    padding: 60px 0;
}