@import '../../variaveis scss/variaveis.scss';

.valores {

    h1 {
        text-align: $centro;
        color: $preto;
        font-weight: $negrito;
        text-transform: $maiusculo;
        text-shadow: 2px 2px $amarelo_claro;
    }

    h1 {
        text-align: $centro;
        color: preto;
        font-weight: $negrito;
        text-transform: $maiusculo;
        text-shadow: 2px 2px $amarelo_claro;
    }

    p {
        text-align: $centro;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    }

} 