$centro: center;
$maiusculo: uppercase;
$negrito: bold;
$margins: 2rem;
$padding: 2rem;
$preto: black;
$branco: white;
$amarelo_claro: #ffd900;
$border-radius: 20px;
$cinza_gradient: linear-gradient(177deg, rgba(110,110,110,1) 0%, rgb(146, 146, 146) 51%, rgb(194, 194, 194) 100%);
$drop-shadow: drop-shadow(16px 3px 10px $preto);